h1{
    font-size: 2.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
nav {
    position: fixed;
    top: 0;
    background-color: #f6f3ea;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    height: fit-content;
}
a.logo {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: black;
}
div.title{
    width: 100%;
    & h1 {
        text-align: center;
        margin: 0;
    }
}
div.opbuttons {
    position: absolute;
    right: 0;
    display: flex;
    padding: 1rem;  
    gap: 1rem;
}
div.nav-links { 
    display: flex;
    justify-content: space-evenly;
    background-color: #3a5f73;
    color: white;
    cursor: pointer;
    font-family: Merryweather Sans;
    font-size: 1.3rem;
    padding: .7rem;
    border: 1px solid black;
    & p {
        margin: 0;
    }
}
div.nav-link{
    display: flex;
    flex-direction: column;
}
.closed {
    display: none !important;
    opacity: transparent;
    padding: 0;
}
a.sign-up {
    border: 0;
    color: black;
    background-color: transparent;
    cursor: pointer;
}
a.login {
    background-color: #3a5f73;
    font-weight: bold;
    color: white;
    height: fit-content;
}